<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/static/toastr/toastr.min.css" />
<script src="/static/toastr/toastr.min.js"></script>

<script src="/static/bootbox/bootbox.min.js"></script>

<link rel="stylesheet" href="/static/nprogress/nprogress.css" />
<script src="/static/nprogress/nprogress.js"></script>

<link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css" />

<!-- <link rel="stylesheet" href="/static/trix/trix.css" /> -->
<link href="/static/custom/trix.custom.css?v=0.1" rel="stylesheet">
<script src="/static/trix/trix.js"></script>

<link rel="stylesheet" href="/static/highlight/styles/arduino-light.css" />
<script src="/static/highlight/highlight.pack.js"></script>

<link rel="stylesheet" href="/static/selectize/css/selectize.bootstrap3.css" />
<script src="/static/selectize/js/standalone/selectize.min.js"></script>

<!-- <script src="/static/highcharts/highcharts.js"></script> -->

<!-- <script src="/static/moment/moment.min.js"></script> -->

<!-- <link rel="stylesheet" href="/static/bootstrap-daterangepicker/daterangepicker.css" /> -->
<!-- <script src="/static/bootstrap-daterangepicker/daterangepicker.js"></script> -->

<script src="/static/autosize/autosize.min.js"></script>

<link href="/static/custom/bootstrap.custom.css?v=0.1" rel="stylesheet">
<link href="/static/custom/turbolinks.custom.css?v=0.1" rel="stylesheet">
<link href="/static/common/basic.css?v=0.1" rel="stylesheet">

<script src="/static/turbolinks/turbolinks.js"></script>
<script src="/static/custom/turbolinks.custom.js?v=0.1"></script>
